################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Intermodulation Calculation Application/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/IntermodTerminalCalculator/Debug
/IntermodTerminalCalculator/Intermod Terminal Calculator/Debug
/IntermodTerminalCalculator/.vs/Intermod Terminal Calculator/v16/Browse.VC.opendb
/IntermodTerminalCalculator/.vs/Intermod Terminal Calculator/v16/Browse.VC.db
/IntermodTerminalCalculator/.vs/Intermod Terminal Calculator/v16/.suo
/IntermodTerminalCalculator/.vs/Intermod Terminal Calculator/v16/ipch/AutoPCH/4267752817781d0e/INTERMODCALCFULL.ipch
/IntermodTerminalCalculator/x64/Debug
/.vs/Intermod/v16
/Intermod Terminal Calculator
/IntermodGUI/.vs/IntermodGUI/v16
/IntermodGUI/x64/Debug
/IntermodGUI/GeneratedFiles/Debug
/testing/x64/Debug
